<app-header></app-header>
<div class="container">
     <div class="row border border-success m-2 p-2">
          <div class="col-12">
               <div class="timerBox text-center mb-3">
                    <div class="mb-2">
                         <p class="display-3 font-weight-bold">{{ displayTime }}</p>
                    </div>
                    <div class="mb-2">
                         <button mat-raised-button color="primary" class="btn btn-primary btn-sm mx-1"
                              (click)="play()">Play</button>
                         <button mat-raised-button color="warn" class="btn btn-warning btn-sm mx-1"
                              (click)="pause()">Pause</button>
                         <button mat-raised-button color="accent" class="btn btn-danger btn-sm mx-1"
                              (click)="reset()">Reset</button>
                         <button mat-raised-button color="accent" class="btn btn-info btn-sm mx-1"
                              (click)="lap()">Lap</button>
                    </div>
               </div>
               <div>
                    <h3 class="text-center">Lap Times</h3>
                    <div class="table-responsive">
                         <table class="table table-bordered table-striped">
                              <thead class="thead-dark">
                                   <tr>
                                        <th class="responsive-th">No.</th>
                                        <th class="responsive-th">Lap Time</th>
                                        <th class="responsive-th">Elapsed Time</th>
                                   </tr>
                              </thead>
                              <tbody>
                                   <tr *ngFor="let lap of lapTimes; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ lap.lapTime }}</td>
                                        <td>{{ lap.elapsedTime }}</td>
                                   </tr>
                              </tbody>
                         </table>
                    </div>
               </div>
          </div>
     </div>
</div>