<header class="header">
     <div class="container">
          <div class="logo">
               <span [routerLink]="'/'"><img style="height: 3rem; cursor: pointer;" src="assets//icons/stopwatch1.png"
                         alt="TimeMaster"></span>
               <span class="px-3"><a [routerLink]="'/'">TimeMaster</a></span>
          </div>
          <nav class="nav">
               <ul>
                    <li><a [routerLink]="'/'">Home</a></li>
                    <li><a [routerLink]="'/timer'">Timer</a></li>
                    <li><a [routerLink]="'/stopwatch'">Stopwatch</a></li>
                    <li><a [routerLink]="'/'">Alarms</a></li>
                    <li><a [routerLink]="'/'">World Clock</a></li>
               </ul>
          </nav>
     </div>
</header>